@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&family=Montserrat:wght@700&display=swap');

:root {
  --accent: #d92626;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Outfit, sans-serif;
  line-height: 1.4;
  color: #eee;
  background: #080808;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  line-height: 1;
  user-select: none;
}

span,
p {
  user-select: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a.icon {
  line-height: 1;
}

a.icon > * {
  vertical-align: bottom;
}

nav {
  overflow: hidden;
}

nav ul {
  list-style: none;
  counter-reset: nav;
}

nav ul li::before {
  content: counter(nav, decimal-leading-zero) '.';
  font-weight: bold;
  margin-right: 4px;
}

nav ul li {
  display: inline-block;
  padding: 6px 25px;
  color: #555;
  cursor: pointer;
  user-select: none;
  counter-increment: nav;
}

nav ul li:last-child {
  padding-right: 0;
}

nav ul li:hover,
nav ul li.active {
  color: #eee;
}

input,
textarea {
  padding: 8px 10px;
  color: inherit;
  background: rgba(255, 255, 255, 0.05);
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

footer {
  align-items: baseline;
}

#cover {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#mainSwiper > .swiper-wrapper > .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mainSwiper h2 {
  position: relative;
  font-size: 2rem;
  margin-bottom: 10px;
}

#mainSwiper h2:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 32px;
  left: 0;
  bottom: -10px;
  background: var(--accent);
}

#mainSwiper > .swiper-wrapper > .swiper-slide:not(.swiper-slide-active) {
  overflow: hidden;
}

#worksSwiper > .swiper-wrapper > .swiper-slide {
  width: 28%;
}

#worksSwiper .work-images {
  height: 300px;
}

#worksSwiper .work-images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#worksSwiper .work-description {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: justify;
}

#logo {
  font-size: 1.4rem;
}

#logo::before {
  content: '[';
  color: var(--accent);
}

#logo::after {
  content: ']';
  color: var(--accent);
}

#navbarToggler {
  display: none;
  width: 48px;
  height: 48px;
  margin-right: -13px;
  overflow: hidden;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

#hero h3,
#hero p {
  font-size: 1.6rem;
}

#hero h3 {
  color: var(--accent);
}

#hero h3::before {
  content: '';
  display: inline-block;
  position: relative;
  bottom: 0.3em;
  width: 30px;
  height: 2px;
  margin-right: 10px;
  background: var(--accent);
}

#hero .btn {
  font-size: 1.2rem;
}

#photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

#photo img,
#about > img {
  width: 430px;
  height: 430px;
  padding: 10px;
  border: 2px dashed #eee;
  border-radius: 50%;
  object-fit: cover;
}

#about > div {
  width: 600px;
}

#yearsOld {
  text-decoration: underline;
}

#githubIcon > path:nth-child(2) {
  stroke-dasharray: 66;
  stroke-dashoffset: -66;
  transition: stroke-dashoffset 500ms;
}

#githubIcon:hover > path:nth-child(2) {
  stroke-dashoffset: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.flex {
  display: flex;
  column-gap: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.light {
  font-weight: 100;
}

.small {
  font-size: 0.7rem;
}

.muted {
  color: #555;
}

.accent {
  color: var(--accent);
}

.justify {
  text-align: justify;
}

.btn {
  padding: 8px 40px;
  width: fit-content;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  user-select: none;
}

.btn:hover {
  background: #eee;
  color: #111;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ham .top {
  stroke-dasharray: 40 139;
}

.ham .bottom {
  stroke-dasharray: 40 180;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}

nav.active .ham {
  transform: rotate(45deg);
}

nav.active .ham .top {
  stroke-dashoffset: -98px;
}

nav.active .ham .bottom {
  stroke-dashoffset: -138px;
}

.wave {
  display: inline-block;
  font-weight: lighter;
  transform-origin: bottom right;
  animation: wave 0.5s ease-in-out infinite alternate;
}

.circle-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  white-space: pre;
  animation: rotate 20s linear infinite;
}

.circle-text-letter {
  position: absolute;
  top: 0;
  height: 250px;
  transform-origin: bottom center;
}

.tags {
  display: flex;
  position: relative;
  column-gap: 4px;
  overflow: hidden;
}

.tags > div {
  padding: 4px 8px;
  font-size: 0.7rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-3d .swiper-slide-shadow {
  background: none;
}

@keyframes wave {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  header {
    padding: 0 20px;
  }

  footer {
    padding: 20px;
  }

  nav ul {
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    /* transition: opacity 1s linear; */
  }

  nav.active ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
    border: 1px solid #555;
    background: #080808;
    opacity: 1;
    z-index: 1000;
  }

  nav.active ul li {
    padding: 10px 20px;
    color: #555;
  }

  nav.active ul li.active {
    background: rgba(255, 255, 255, 0.1);
  }

  nav.active ul li.active,
  nav.active ul li:hover {
    color: #eee;
  }

  #navbarToggler {
    display: block;
  }

  #hero {
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
  }
  
  #hero > div:nth-child(1) {
    order: 1;
  }

  #hero h1 {
    font-size: 2.5rem;
  }

  #hero h3,
  #hero p {
    font-size: 1.2rem;
  }

  #photo,
  #photo .circle-text {
    width: 280px;
    height: 280px;
  }

  #photo img {
    width: 220px;
    height: 220px;
  }

  #photo .circle-text-letter {
    height: 140px;
  }

  #mainSwiper {
    padding: 0 20px;
  }

  #mainSwiper h2 {
    font-size: 1.5rem;
  }

  #worksSwiper {
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #worksSwiper > .swiper-wrapper > .swiper-slide {
    width: 80%;
  }

  #worksSwiper .work-images {
    height: 200px;
  }

  #worksSwiper .work-images.swiper img {
    height: 200px;
  }

  #worksSwiper .swiper img  {
    height: 300px;
  }

  #about {
    flex-direction: column;
  }

  #about > img {
    display: none;
  }

  #about > div {
    width: auto;
  }

  #about a img {
    width: 100%;
    max-width: 400px;
  }

  .flex {
    column-gap: 10px;
  }

  .flex-column {
    row-gap: 10px;
  }
}

@media (max-width: 768px) and (max-height: 640px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 1140px) {
  #cover {
    padding: 0 20px;
  }

  #hero h1 {
    font-size: 4rem;
  }

  #photo,
  #photo .circle-text {
    width: 400px;
    height: 400px;
  }

  #photo img {
    width: 340px;
    height: 340px;
  }

  #photo .circle-text-letter {
    height: 200px;
  }

  #about > img {
    width: 340px;
    height: 340px;
  }
}